
<!-- 继承父html -->
{% extends 'layout.html' %}

<!-- 重写父html里面的占位模块 -->
{%block main %}

<ol class="breadcrumb">
  <li><a href="/">管理首页</a></li>
  <li><span>分类列表</span></li>
</ol>

<h3>分类列表</h3>

<table class="table table-hover table-striped">
  <tr>
    <th>ID</th>
    <th>用户名</th>
    <th>密码</th>
    <th>是否是管理员</th>
  </tr>

  <!-- {% for user in users %}
  <tr>
    <th>{{user._id.toString()}}</th>
    <th>{{user.username}}</th>
    <th>{{user.password}}</th>
    <th>
      {%if user.isAdmin%}
      是
      {%endif%}
    </th>
  </tr>
  {% endfor %} -->

</table>

{%include "page.html" %}

{%endblock%}