/**
 * Created by watson on 2017/12/26
*/

body {
  background: #ddd;
}
h1 {
  color: yellow;
}
.box {
  padding: 10px;
  border: 1px dotted #666;
  border-radius: 3px;
}
.mb10 {
  margin-bottom: 10px;
}
.hide {
  display: none;
}
.red {
  color: red;
}
.green {
  color: green;
}
.center {
  text-align: center;
}
.h50 {
  height: 50px;
  line-height: 50px;
}
.b-white {
  background: #fff;
}