<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>watson's blog</title>
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
  <h1>hello welcome to watson'blog!</h1>
  <!-- 登陆 -->
  <div class="box mb10 hide" id="loginBox">
    <h3>欢迎登陆</h3>
    <p>用户名：<input id="loginUsername" type="text"/></p>
    <p>密码：<input id="loginPassword" type="password"/></p>
    <input type="button" id="login" value="登陆"/>
    <input type="button" id="registerBoxShow" value="点击注册"/>
  </div>
  <!-- 注册 -->
  <div class="box" id="registerBox">
    <h3>欢迎注册</h3>
    <p>用户名：<input id="registerUsername" type="text"/></p>
    <p>密码：<input id="registerPassword" type="password"/></p>
    <p>确认：<input type="password"/></p>
    <input type="button" id="register" value="注册"/>
    <input type="button" id="loginBoxShow" value="点击登陆"/>
  </div>
  <script type="text/javasciprt" src="/public/js/jquery-2.0.3.js"></script>
  <script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>