{%extends 'layout.html'%}

<!-- 重写当前部分 -->
{%block contents%}
  {%for content in contents%}
  <div class="container mt30">
    <div class="jumbotron">
      <h1>{{content.title}}</h1>
      <p>
        作者：<span class="colInfo">{{content.user.username}}</span>
        时间：<span class="colInfo">{{content.addTime|date('Y-m-d H:i:s', -8*60)}}</span>
        阅读：<span class="colInfo">{{content.views}}</span>
        评论：<span class="colInfo">{{content.comments.length}}</span>
      </p>
      <dfn><p>{{content.desc}}</p></dfn>
      <p>
        <a class="btn btn-lg btn-primary" href="/view?contentId={{content.id}}" role="button">阅读全文 »</a>
      </p>
    </div>
  </div>
  {%endfor%}
{%endblock%}